#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff; /* Background color for splash screen */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#splash-screen img {
  max-width: 40vw; /* Adjust size of your logo */
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}





.show-error{
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.9);
  position:fixed;
  left:0;
}
.error{
  width:100vw;
  height:auto;
  padding:20px 0px;
  margin-top:48vh;
  background:white;
  text-align:center;
}
.error p{
  color:red;
  width:80%;
  height:auto;
  margin:auto;
}









#toastBox {
  position:absolute;
  z-index:6000;
	 bottom:30px;
	 right:30px;
	 display:flex;
	 align-items:flex-end;
	 flex-flow:column nowrap;
	 overflow:hidden;
	 padding:20px;
}

::ng-deep .toast{
  background: white;
  width: 400px;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  margin: 5px auto;
  padding: 10px;
  box-shadow: 0 0 20px gray;
  position: relative;
  transform: translateX(100%);
  animation: moveleft .5s linear forwards;
}


@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}



::ng-deep .toast i{
  color: green;
}

::ng-deep .toast.invalid i {
  color: orange;
}

::ng-deep .toast.error i {
  color: red;
}

::ng-deep .toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 1.8s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}


::ng-deep .toast.error::after {
  background: red;
}

::ng-deep .toast.invalid::after {
  background: orange;
}






@media (max-width:500px){

  #toastBox {
    position:absolute;
    z-index:6000;
       top:10vh;
       display:flex;
       align-items:center;
       justify-content: center;
       flex-flow:column nowrap;
       overflow:hidden;
       padding:10px;
       max-width:90%;

  }

  ::ng-deep .toast{
    background: white;
    width: 250px;
    height: auto;
    font-weight: normal;
    text-align:center;
    font-size: 16px;
    margin: 5px aut0;
    padding: 10px;
    box-shadow: 0 0 20px gray;
    position: relative;
    transform: translateX(100%);
    animation: moveleft .5s linear forwards;
  }

  @keyframes moveleft {
    100% {
      transform: translateX(0%);
      margin:auto;
    }
  }

  ::ng-deep .toast i{
    color: green;
  }

  ::ng-deep .toast.invalid i {
    color: orange;
  }

  ::ng-deep .toast.error i {
    color: red;
  }

  ::ng-deep .toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 2.8s linear forwards;
  }

  @keyframes anim{
    100% {
      width: 0;
    }
  }

  ::ng-deep .toast.error::after {
    background: red;
  }

  ::ng-deep .toast.invalid::after {
    background: orange;
  }
}
/* end of notifications'  CSS*/











#column1 {
  background-color: #F6F5FF;
  /* background-color: #e70000; */

  width: 100%;
  text-align: start;
  height: auto;
  padding-top: 10%;
  order: 1;
  border: none;
  color: #4c1fa0;
  font-weight:900;
  font-size: 1.2rem;
  font-family: Itim;

}

#column2 {
  background-color: #F6F5FF;
  /* background-color: #220606; */
  width: 100%;

  text-align: end;
  height: auto;
  order: 2;
  border: none;
  padding-top: 10%;
}

.word {
  margin-right: px;
  font-size: 3vw;
  margin-top: -3vw;
  margin-bottom: -4vw;
  padding-bottom: 6%;
  color: blue;
  font-family: Microsoft Uighur;
  font: bolder;


}

.row {
  display: flex;
  /* flex-wrap: wrap; Ensures no wrapping of columns */
  gap: rem;
  /* Optional: spacing between columns */
  flex-wrap: wrap;
}


/* Column 1: Contains Columns 3, 4, and 5 */
.col-1 {
  flex: 0 0 40%;
  /* Fixed 40% width */
  border: 1px solid #000000;
  /* Optional: Border for visualization */
  padding: 1rem;
  /* Optional: Padding */
}

/* Column 2: Remaining 60% */
.col-2 {
  flex: 1;
  /* Takes remaining space */
  border: 0px solid #000000;
  /* Optional: Border for visualization */
  padding: 1rem;
  /* Optional: Padding */
  height: auto;
}

/* Inner Columns (3, 4, 5) */
.inner-col {
  margin-bottom: 1rem;
  /* Spacing between inner columns */
  border: 0px solid #ccc;
  /* Optional: Border for visualization */
  padding-left: 5rem;
  /* Optional: Padding */
  padding-right: 2rem;
  /* Optional: Center content */
  width: 100%;
  
}

#image {
  border-radius: 50px;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-right: 0px;
  box-shadow: 0px 9px 10px rgba(0, 0, 255, 0.5);
  padding: 0;
}

#image1of2 {
  width: 17%;

  margin-top: -170px;
  margin-left: 84%;
  margin-bottom: -1vw;
  padding-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
}




.check-image-inner-col {
  margin-bottom: -1vw;
  /* Spacing between inner columns */
  border: 0px solid #ccc;
  /* Optional: Border for visualization */
  padding-left: 5rem;
  /* Optional: Padding */
  padding-right: 2rem;
  /* Optional: Center content */
  width: 100%;
  /* background-color: beige; */
  height: auto;
}



/* #checkbutton{
  width: 40%;
  height: 3vw;
  justify-self: center;
  background-color: rgb(97, 133, 250);
  color:#ffffff;
  flex-flow: column nowrap;
  padding: 12px;
} */





/* Responsive Design */



@media (max-width: 425px) {
  .check-image-inner-col {
    margin-bottom: 0rem;
    /* Spacing between inner columns */
    border: 0px solid #220606;
    /* Optional: Border for visualization */
    padding-left: 5rem;
    /* Optional: Padding */
    padding-right: 2rem;
    /* Optional: Center content */
    width: 100%;
    /* background-color: rgb(255, 255, 0); */
    height: 20px;
  }

  #image1of2 {
    width: 13%;
    margin-left: 88%;
    margin-top: 2%;
  }



  /* #column2{
    background-color: #4c1fa0;
  } */

}







@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    /* Stacks Column 1 and Column 2 vertically */
  }

  .col-1,
  .col-2 {
    flex: 1 1 100%;
    /* Each column takes full width */
  }

  #column1 {
    order: 2;
    /* Form column appears after the image */

    width: 100%;
    /* Full width on smaller screens */
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 20px;
    margin-left: -10vw;
    
  }

  #column2 {
    order: 1;
    /* Image column appears first */
    width: 100vw;
    height: 100%;
    /* Full width on smaller screens */
    box-shadow: #000000;
    padding-top: 3%;
    /* background-color: rgb(231, 231, 36); */
    text-align: center;
    display: flex;
    justify-content:center;

  }

  .check-image-inner-col {
    margin-bottom: 3vw;
    /* Spacing between inner columns */
    border: 0px solid #ccc;
    /* Optional: Border for visualization */
    padding-left: 5rem;
    /* Optional: Padding */
    padding-right: 2rem;
    /* Optional: Center content */
    width: 100%;
    /* background-color: beige; */
    height: 3vw;
  }

  #image {
    border-radius: 0px;
    width: 101vw;
    margin-left: 0vw;
    margin-right: 0vw;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
    margin-top: -22px;
    margin-bottom: 2vw;
    padding: none;
    display: flex;
    justify-content: center;
    object-fit:cover;
    
  }

  .word {
    margin-right: px;
    font-size: 6vw;
    font: bolder;
    color: blue;
    margin-bottom: -66px;

  }

  #image1of2 {
    width: 10%;
    margin-left: 90%;
    margin-top: -15%;
    display: block;
    position: relative;
  }

  .disabled {
    color: rgb(255, 255, 255);
    width: auto;
    padding: 0;
    height: auto;
    border: none;
    font-size: 13px;

    background-color: rgb(171, 171, 240);
  }


  .disabled {
    color: rgb(255, 255, 255);
    width: 60%;
    padding: 15px;
    height: auto;
    border: none;
    font-size: 13px;
    font: Itim;
    background-color: rgb(171, 171, 240);
  }

  .enabled {
    width: 60%;
    height: auto;
    padding: 15px;
    border: none;
    font-size: 13px;

    color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 238);

    /* transition: linear 5.9s ; */
  }

  

}



/* #row1 {
  display: flex;
  flex-wrap: nowrap; // Ensures no wrapping of columns 
  
} */


/* @media (max-width: 768px) {
  .col {
    flex: 1 1 100%; // On smaller screens, each column takes full width 
  }
} */


.select-hall-size {
  margin-bottom: 20px;
}

#selecthall {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px rgba(0, 0, 255, 0.5);
  border: 0px solid #000000;
  padding: 0.5rem;

}

.date-from {
  margin-bottom: 20px;
}

#startdate {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px rgba(0, 0, 255, 0.5);
  border: 0px solid #000000;
  padding: 0.5rem;


}

.date-to {
  margin-bottom: 28px;
}

#enddate {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px rgba(0, 0, 255, 0.5);
  border: 0px solid #000000;
  padding: 0.5rem;

}

.check-availability {
  width: 100%;
  margin-bottom: 20px;

}

/* #checkbutton{
  width: 40%;
  height: 3vw;
  justify-self: center;
  background-color: rgb(97, 133, 250);
  color:#ffffff;
  flex-flow: column nowrap;
  padding: 12px;
} */


.disabled {
  color: rgb(255, 255, 255);
  width: auto;
  padding: 15px;
  height: auto;
  border: none;
  font-size: 1.1rem;
  font-family: Itim;
  background-color: rgb(171, 171, 240);
}

.enabled {
  width: auto;
  height: auto;
  padding: 15px;
  border: none;
  font-size: 1.1rem;
  font-family: Itim;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 68, 238);

  /* transition: linear 5.9s ; */
}

.enabled:hover {

  background-color: #4c1fa0;
  color: #ffffff;
}

.disabled:hover {

  background-color: #f77700;
  color: #ffffff;

}








.booking-page {
  height: auto;
  display: flex;
  flex-flow: nowrap;
  gap: 0;
  background: white;
  background-size: cover;

  /* box-shadow:0 0 2px gray;     */
}

.booking-content {
  width: 100%;
  height: auto;
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* border-radius:5px 5px 0 0; */
}


#name.ng-untouched,
#email.ng-untouched,
#address.ng-untouched,
#number.ng-untouched {
  width: 100%;
  height: 35px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  color: gray;
  padding: 0.5rem;
}

#name.ng-touched.ng-valid,
#email.ng-touched.ng-valid,
#address.ng-touched.ng-valid,
#number.ng-touched.ng-valid {
  border: 0.5px solid darkblue;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: gray;
  padding: 0.5rem;
  outline: none;
}

#name.ng-touched.ng-invalid,
#email.ng-touched.ng-invalid,
#number.ng-touched.ng-invalid,
#address.ng-touched.ng-invalid {
  border: 0.5px solid red;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: gray;
  padding: 0.5rem;
  outline: none;
}